{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- css 파일 불러오기 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/group_main.css' %}" />
    <title>group_main_page</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        background-color: #efefef;
      }

      article {
        width: 430px;
        height: 1000px;
        background-color: #191919;
        border-radius: 10px;
        position: relative;
        top: 0;
        left: 0;
      }
    </style>
  </head>
  <body>
    <article>
      <header>
        <a href="{% url 'main:main' %}">
          <div class="logo">
            <img src="{% static 'img/base.html_logo.svg' %}" alt="로고이미지" />
          </div>
        </a>
        <div class="title_line">
          <div class="title">나의 그룹</div>
        </div>
      </header>
      <section>
        {% for group in groups %}
        <a href="{% url 'groups:my_group_detail' group.id %}">
          <div class="team_box">
            <div class="team_name">{{ group.name }}</div>
            <div class="team_info">
              <div class="info_1"><span>인원</span>{{ group.memberships.count }}/{{ group.max_members }}명</div>
              <div class="info_2"><span>그룹장</span>{{ group.author }}</div>
              <div class="info_3"><span>시작일</span>{{ group.created_at|date:"Y.m.d" }}</div>
            </div>
            <div class="team_intro">{{ group.introduce }}</div>
          </div>
        </a>
        {% empty %}
        <div class="notice">
          <div class="text">가입한 그룹이 없습니다.</div>
          <div class="text"><span>+버튼</span>을 눌러 <span>메세지 그룹을 추가</span>해보세요.</div>
        </div>
        {% endfor %}
        <a href="{% url 'groups:group_list' %}">
          <div class="add_button">
            <img src="{% static 'img/group_main.html_+button.svg' %}" alt="추가버튼" />
          </div>
        </a>
      </section>
      <footer>
        <div class="button_box">
          <a href="{% url 'main:main' %}">
            <button id="home"><img src="{% static 'img/base.html_home.svg' %}" alt="홈화면" /></button>
          </a>
          <a href="{% url 'groups:my_groups' %}">
            <button id="group"><img src="{% static 'img/base.html_group_active.svg' %}" alt="그룹" /></button>
          </a>
          <a href="{% url 'main:notifications' %}">
            <button id="ball"><img src="{% static 'img/base.html_ball.svg' %}" alt="알림" /></button>
          </a>
          <a href="{% url 'accounts:mypage' %}">
            <button id="mypage"><img src="{% static 'img/base.html_mypage.svg' %}" alt="마이페이지" /></button>
          </a>
        </div>
      </footer>
    </article>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const buttons = document.querySelectorAll(".button_box button");
        buttons.forEach((button) => {
          button.addEventListener("click", () => {
            buttons.forEach((btn) => {
              btn.classList.remove("active");
              const img = btn.querySelector("img");
              const imgSrc = img.getAttribute("src").replace("_active", "");
              img.setAttribute("src", imgSrc);
            });
            button.classList.add("active");
            const img = button.querySelector("img");
            const imgSrc = img.getAttribute("src").replace(".svg", "_active.svg");
            img.setAttribute("src", imgSrc);
          });
        });
      });
    </script>
  </body>
</html>
