/* 본명조 폰트 */

@font-face {
  font-family: "NotoSerifKR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff") format("woff");
  font-style: normal;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 363px;
  height: 571px;
  border-radius: 26px;
  background-color: #ffffff;
}

.title {
  font-family: "NotoSerifKR";
  font-size: 15px;
  margin-bottom: 19px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 240px;
  font-family: "NotoSerifKR";
  font-size: 13px;
  border-top: 0.5px solid #999999;
  border-bottom: 0.5px solid #999999;
  color: #999999;
  margin-bottom: 16px;
}

.info span {
  margin: 0px 3px 0px 8px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 123px;
  border-radius: 13px;
  background-color: #f3f3f3;
  color: #191919;
  margin-top: 24px;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 7px;
}

.nickname {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  border-radius: 25px;
  border: 1px solid #f3f3f3;
  font-size: 11.5px;
  padding: 0px 30px;
}

.select_line {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  background-color: #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: "NotoSerifKR";
  padding: 0px 10px;
}

.join {
  font-size: 14px;
}

.cancel {
  font-size: 13px;
  color: #999999;
}
