/* 본명조 폰트 */

@font-face {
  font-family: "NotoSerifKR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff") format("woff");
  font-style: normal;
}

/* 화면에서 고정 */

header,
footer {
  position: fixed;
}

footer {
  top: 841px;
  left: 32px;
}

/* header 부분 */

.logo {
  margin-top: 65px;
  margin-left: 32px;
}

.title_line {
  background-color: #797979;
  width: 430px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 35.44px;
  font-family: "NotoSerifKR";
  font-size: 23px;
  font-weight: 100;
  color: #e4e4e4; /*원래는 #ffffff에 투명도 80이었지만 투명도 조절보다 이게 더 편해서 추출해서 사용했습니다*/
}

.button_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 355px;
  height: 55px;
  border-radius: 100px;
  background-color: #d1d1d1;
  padding: 0px 5px;
}

button {
  background-color: #d1d1d1;
  border: none;
  padding: 0;
  cursor: pointer;
}

#back,
#group,
#ball {
  padding-top: 5px; /* align-items로 맞춰주었음에도 위로 올라가있어 보정*/
}

/*여기까지 고정 상단바와 하단바 */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 177px;
  padding-top: 42px;
  padding-left: 62px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 16px;
}

.input_title {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 16px;
}

.fix_box {
  width: 299px;
  height: 55px;
  border-radius: 25px;
  background-color: #999999;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #191919;
}

.input_box {
  width: 279px;
  height: 55px;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

input[type="text"] {
  background-color: transparent; /* 배경 투명하게 */
  border: none;
  width: 100%;
  align-items: center;
  color: #555555;
  font-size: 14px;
  outline: none;
}

button[type="submit"] {
  background-color: transparent; /* 배경 투명하게 */
  padding-top: 5px;
}

/* 여기부터 드롭다운 */

p {
  color: #ffffff;
  font-size: 14px;
}

.group-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 20px 0px 36px 0px;
}

.group-select select {
  background-color: #999999;
  width: 87px;
  height: 37px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  outline: none;
}

.group-select option {
  background-color: #ffffff;
  font-size: 14px;
  width: 87px;
  outline: none;
}

.custom-select {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  width: 87px;
  height: 37px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Pretendard-Regular";
  margin-left: 145px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #ffffff;
  border-radius: 25px;
  height: 37px;
  line-height: 17px;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.select-selected:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid #d9d9d9;
  border-radius: 1px;
}

.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.select-hide {
  display: none;
}

.select-items div {
  color: #191919;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
}

/* 여기까지 드롭다운 */

.button_line {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.complete {
  width: 356px;
  height: 55px;
  border-radius: 25px;
  background-color: #fcfca8;
  margin-top: 28px;
  font-size: 15px;
}

.add {
  width: 356px;
  height: 55px;
  border-radius: 25px;
  background-color: #999999;
  margin-top: 50px;
  font-size: 15px;
}
