@font-face {
    font-family: "NotoSerifKR";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

p, img, h3, h1, h2 {
    padding: 0;
    margin: 0;
    font-family: "NotoSerifKR";
}

.check {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #ffffff;
    font-size: 14px;
    margin-top: 155px;
    margin-bottom: 38px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 326px;
    height: 506.34px;
    background-color: #191919;
    box-shadow: 0 4px 20px rgba(252, 252, 168, 0.2);
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 283.87px;
    height: 465.65px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.card-header {
    display: flex;
    flex-direction: row;
    padding: 22px;
    align-items: center;
    font-size: 14px;
}

.card-icon {
    width: 22px;
    height: 26.12px;
    margin-right: 8px;
}

.card-text {
    text-align: center;
    padding: 15px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 20px;
    color: #999999;
    align-items: center;
    font-size: 12px;
}

/*색상선택*/
.toggle-buttons {
    display: flex;
    width: 201px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 100px;
    margin: 23.66px auto 0 auto;
}

.toggle-buttons button {
    background-color: #ffffff;
    border: none;
    width: 108px;
    cursor: pointer;
    font-size: 12px;
    font-family: "NotoSerifKR";
    color: #191919;
    border-radius: 100px;
    transition: box-shadow 0.3s ease;
}

.toggle-buttons button.active {
    background-color: #FCFCA8;
    color: #191919;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCFCA8;
    color: #000000;
    border: none;
    width: 356px;
    height: 55px;
    font-size: 16px;
    border-radius: 25px;
    font-family: 'Pretendard-Regular';
    cursor: pointer;
    text-decoration: none;
}