{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>좋아요한 글</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/liked_messages.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>좋아요한 메시지</h2>
      <h3>모닝메세지</h3>
      {% if morning_liked_messages %}{% for message in morning_liked_messages %}
      <div class="message">
        <p>
          <strong>{{ message.nick.nickname }}님의 메시지:</strong> {{
          message.morning_mes }}
        </p>
      </div>
      {% endfor %} {% else %}
      <p>모닝메세지에 좋아요를 누른 메시지가 없습니다.</p>
      {% endif %}

      <h3>나잇메세지</h3>
      {% if night_liked_messages %} {% for message in night_liked_messages %}
      <div class="message">
        <p>
          <strong>{{ message.nick.nickname }}님의 메시지:</strong>
          {{ message.night_mes }}
        </p>
      </div>
      {% endfor %} {% else %}
      <p>나잇메세지에 좋아요를 누른 메시지가 없습니다.</p>
      {% endif %}
    </div>
  </body>
</html>
