{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <style>
      body {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          min-height: 100vh;
          background-color: #efefef;
      }
  
      article {
          width: 430px;
          height: 932px;
          background-color: #191919;
          border-radius: 10px;
          position: relative;
          display: flex;
          justify-content: center; /* Center content horizontally */
      }
      </style>
</head>
<body>
  <article>
    <header>
        <div class="logo">
        <img src="{% static 'img/base.html_logo.svg' %}" alt="로고이미지" />
        </div>
        <div class="title_line">
        <div class="date">{{ current_time }},</div>
        <div class="checkbox">
            오늘의 메세지 등록
            <input type="checkbox" id="check" />
            <label for="check"></label>
        </div>
        </div>
    </header>
    <div class="main">
      {% if user_has_written_message %}
      <a href="{% url 'main:update' user_message.id %}">
        <div class="main-message">
            <img src="{% static 'img/main_todaycard.svg' %}">
            <p>{{ time_message }}</p>
            <img class="btn" src="{% static 'img/main_input.svg' %}">
        </div>
      </a>
      {% else %}
      <a href="{% url 'main:message_create' %}">
        <div class="main-message">
          <img src="{% static 'img/main_todaycard.svg' %}">
          <p>{{ time_message }}</p>
          <img class="btn" src="{% static 'img/main_input.svg' %}">
        </div>
      </a>
      {% endif %}
        <div class="time-message">
            <div class="main-time">
                <div class="message">
                    <p>모닝메세지</p>
                    <P>{{ morning_time }}</P>
                </div>
                <div class="message">
                    <p>나잇메세지</p>
                    <P>{{ night_time }}</P>
                </div>
            </div>
            <div class="time-change">
              <a href="{% url 'main:modify_open_time' %}">열람시간 수정하기 ></a>
            </div>
        </div>
        {% if user_has_written_message %}
        {% if can_open_messages %}
        <div class="card-box">
            <div id="card-container" data-card-img-url="{% static 'img/main_card.svg' %}" data-message-list-url="{% url 'main:message_list' %}" class="card-container">
                <!-- Cards will be added here dynamically -->
            </div>
            <script src="{% static 'js/card.js' %}"></script>
        </div>
        {% else %}
        <div class="card-box">
          <div id="card-container" data-card-img-url="{% static 'img/main_card.svg' %}" class="card-container">
              <!-- Cards will be added here dynamically -->
          </div>
          <img src="{% static 'img/main_alert_after.svg' %}" alt="Overlay Image" class="overlay-image">
          <script src="{% static 'js/card.js' %}"></script>
        </div>
        {% endif %}
        {% else %}
        <div class="card-box">
          <div id="card-container" data-card-img-url="{% static 'img/main_card.svg' %}" class="card-container">
              <!-- Cards will be added here dynamically -->
          </div>
          <img src="{% static 'img/main_alert_before.svg' %}" alt="Overlay Image" class="overlay-image">
          <script src="{% static 'js/card.js' %}"></script>
        </div>
        {% endif %}
    </div>
    <footer>
        <div class="button_box">
        <button id="back"><img src="{% static 'img/base.html_back.svg' %}" alt="뒤로가기" /></button>
        <button id="group"><img src="{% static 'img/base.html_group.svg' %}" alt="그룹" /></button>
        <button id="ball"><img src="{% static 'img/base.html_ball.svg' %}" alt="알림" /></button>
        <button id="home"><img src="{% static 'img/base.html_home.svg' %}" alt="홈화면" /></button>
        </div>
    </footer>
</article>
<script>
    document.addEventListener("DOMContentLoaded", () => {
      const buttons = document.querySelectorAll(".button_box button");
      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          buttons.forEach((btn) => {
            btn.classList.remove("active");
            const img = btn.querySelector("img");
            const imgSrc = img.getAttribute("src").replace("_active", "");
            img.setAttribute("src", imgSrc);
          });
          button.classList.add("active");
          const img = button.querySelector("img");
          const imgSrc = img.getAttribute("src").replace(".svg", "_active.svg");
          img.setAttribute("src", imgSrc);
        });
      });
    });
  </script>
</body>
</html>
