<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
    <ul>
        {% if next_user_message %}
        <h2>다음 사용자 메시지 열람</h2>
        <p><strong>Morning:</strong> {{ next_user_message.morning_mes }}</p>
        <p><strong>Night:</strong> {{ next_user_message.night_mes }}</p>
        <p><strong>작성자:</strong> {{ next_user_message.nick.nickname }}</p>
        {% endif %}
    </ul>
    <hr>
    <a href="{% url 'main:main' %}">돌아가기</a>
</body>
</html>

