<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메시지 작성</title>
</head>
<body>
    <h1>{% if user_message %}Update{% else %}Create{% endif %} Message</h1>
    
    {% if user_has_written_message %}
      <p>{{ current_time }} ✔ 메시지 등록</p>
    {% else %}
      <p>{{ current_time }} ✖ 메시지 등록</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_nickname">닉네임:</label>
            {{ form.nickname }}
        </div>
        <div>
            <label for="id_morning_mes">아침메세지:</label>
            {{ form.morning_mes }}
        </div>
        <div>
            <label for="id_night_mes">밤메세지:</label>
            {{ form.night_mes }}
        </div>
        <div>
            <label for="id_group">그룹:</label>
            {{ form.group }}
        </div>
        <button type="submit">Submit</button>
    </form>

    <a href="{% url 'main:main' %}">Back to main</a>
</body>
</html>