<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
    {% if next_user_message %}
    <h2>다음 사용자 메시지 열람</h2>
    {% if time_period == 'morning' %}
        <p><strong>Morning:</strong> {{ next_user_message.morning_mes }}</p>
    {% elif time_period == 'night' %}
        <p><strong>Night:</strong> {{ next_user_message.night_mes }}</p>
    {% endif %}
    <p><strong>작성자:</strong> {{ next_user_message.nick.nickname }}</p>
    <p>❤️ {{ next_user_message.total_likes }} total likes</p>
    {% if next_user_message.id in user_liked_message_ids %}
        <form method="post" action="{% url 'main:like_message' next_user_message.id %}">
            {% csrf_token %}
            <button type="submit">✖️ Unlike</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'main:like_message' next_user_message.id %}">
            {% csrf_token %}
            <button type="submit">❤️ Like</button>
        </form>
    {% endif %}
    {% else %}
    <p>현재 시간대에 해당하는 메시지가 없습니다.</p>
    {% endif %}

    <hr>
    <a href="{% url 'main:main' %}">돌아가기</a>
</body>
</html>



