{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modify Open Time</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/modify_time.css' %}"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        background-color: #efefef;
      }

      article {
        width: 430px;
        height: 932px;
        background-color: #191919;
        border-radius: 10px;
        position: relative;
        top: 0;
        left: 0;
      }
    </style>
  </head>
  <body>
    <article>
      <header>
        <a href="{% url 'main:main' %}">
          <div class="logo">
            <img src="{% static 'img/base.html_logo.svg' %}" alt="로고이미지" />
          </div>
        </a>
        <div class="title_line">
          <div class="date">열람시간 수정하기</div>
        </div>
      </header>

      <section class="secBox">
        <section class="sec1">
          MIMO의 <span>메세지 열람가능시간</span>은<br />
          모닝메세지, 나잇메세지 각각 <span>1시간</span>입니다.
        </section>
        <section class="sec2">
          <form method="post" id="modifyTimeForm">
            {% csrf_token %}
            <div class="morning">
              <p class="message">모닝메세지 :</p>
              <input
                name="morning_time"
                id="morningTime"
                class="time"
                type="time"
                value="{{ morning_time|default:'05:00' }}"
                min="06:00"
                max="10:00"
              />
              <p class="message">~</p>
              <p class="time" id="morningTimePlusOneHour"></p>
            </div>
            <div class="night">
              <p class="message">나잇메세지 :</p>
              <input
                name="night_time"
                id="nightTime"
                class="time"
                type="time"
                value="{{ night_time|default:'21:00' }}"
                min="20:00"
                max="24:00"
              />
              <p class="message">~</p>
              <p class="time" id="nightTimePlusOneHour"></p>
            </div>
          </form>
        </section>
        <section class="sec3">
          <button type="submit" class="modifyBtn" onclick="submitForm()">
            수정
          </button>
        </section>
      </section>
      <footer>
        <div class="button_box">
          <a href="{% url 'main:main' %}">
            <button id="home">
              <img src="{% static 'img/base.html_home.svg' %}" alt="홈화면" />
            </button>
          </a>
          <a href="{% url 'groups:my_groups' %}">
            <button id="group">
              <img src="{% static 'img/base.html_group.svg' %}" alt="그룹" />
            </button>
          </a>
          <a href="{% url 'main:notifications' %}">
            <button id="ball">
              <img src="{% static 'img/base.html_ball.svg' %}" alt="알림" />
            </button>
          </a>
          <a href="{% url 'accounts:mypage' %}">
            <button id="mypage">
              <img
                src="{% static 'img/base.html_mypage_active.svg' %}"
                alt="마이페이지"
              />
            </button>
          </a>
        </div>
      </footer>
    </article>
    <script src="{% static 'js/modify_time.js' %}"></script>
  </body>
</html>
