{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- css 파일 불러오기 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/notice.css' %}" />
    <title>notice_page</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        background-color: #efefef;
      }

      article {
        width: 430px;
        height: 1000px;
        background-color: #191919;
        border-radius: 10px;
        position: relative;
        top: 0;
        left: 0;
      }
    </style>
  </head>
  <body>
    <article>
      <header>
        <a href="{% url 'main:main' %}">
          <div class="logo">
            <img src="{% static 'img/base.html_logo.svg' %}" alt="로고이미지" />
          </div>
        </a>
        <div class="title_line">
          <div class="title">알림</div>
        </div>
      </header>
      <section>
        {% for notification in notifications %}
        <div class="message_box">
          <img src="{% static 'img/notice.html_icon.svg' %}" alt="알림아이콘" />
          <div class="text">{{ notification.message }}</div>
          <div class="check">{{ notification.timestamp }}</div>
        </div>
        {% endfor %}
      </section>
      <footer>
        <div class="button_box">
          <a href="{% url 'main:main' %}">
            <button id="home"><img src="{% static 'img/base.html_home.svg' %}" alt="홈화면" /></button>
          </a>
          <a href="{% url 'groups:my_groups' %}">
            <button id="group"><img src="{% static 'img/base.html_group.svg' %}" alt="그룹" /></button>
          </a>
          <a href="{% url 'main:notifications' %}">
            <button id="ball"><img src="{% static 'img/base.html_ball_active.svg' %}" alt="알림" /></button>
          </a>
          <a href="{% url 'accounts:mypage' %}">
            <button id="mypage"><img src="{% static 'img/base.html_mypage.svg' %}" alt="마이페이지" /></button>
          </a>
        </div>
      </footer>
    </article>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const buttons = document.querySelectorAll(".button_box button");
        buttons.forEach((button) => {
          button.addEventListener("click", () => {
            buttons.forEach((btn) => {
              btn.classList.remove("active");
              const img = btn.querySelector("img");
              const imgSrc = img.getAttribute("src").replace("_active", "");
              img.setAttribute("src", imgSrc);
            });
            button.classList.add("active");
            const img = button.querySelector("img");
            const imgSrc = img.getAttribute("src").replace(".svg", "_active.svg");
            img.setAttribute("src", imgSrc);
          });
        });
      });
    </script>
  </body>
</html>
